.btn {
  border-radius: 1rem;
  font-size: var(--font-size-preset-5);
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-900);
  cursor: pointer;
  border: none;
}

.btn:active {
  outline: 1px solid var(--color-neutral-900);
  outline-offset: 2px;
}

.btn:hover {
  background-color: #395852;
}
