@import "../src/css/button.css";
@import "../src/css/fonts.css";
@import "../src/css/variables.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

img {
  object-fit: cover;
  display: flex;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  height: 100%;
  font-size: var(--fs-preset-6);
  line-height: var(--lh-preset-9);
  background-color: var(--color-neutral-100);
}

#root {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.container {
  width: 100%;
  max-width: 166rem;
  padding-right: 6rem;
  padding-left: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.6rem;
  margin-bottom: 2.6rem;
}

.hero__container {
  background-image: url(../public/images/pattern-squiggle-1.svg);
  background-position: bottom 10rem right 2rem;
  background-repeat: no-repeat;
}

.hero__list__item__icon img {
  margin-bottom: 2.4rem;
  background-color: white;
  padding: 1.394rem 1.84rem;
  border-radius: 1.2rem;
}

.hero__list__item__icon {
  width: 100%;
  max-width: 37.6rem;
  color: var(--color-neutral-900);
}

.hero__list__item__icon h4 {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}

.hero__list__item__icon p {
  font-size: 2rem;
}

.pre__footer {
  background-image: url(../public/images/pattern-fork.svg),
    url(../public/images/pattern-knife.svg);
  background-repeat: no-repeat;
  background-position: left -7.3rem top 2.3rem, right -7.3rem top 2.4rem;
}

.navbar__items {
  color: #163a34;
  font-size: 1.8rem;
}

.navbar a.active {
  text-decoration: none;
  border-bottom: 0.3rem solid #ff9966;
  color: #123c36;
}

/* HOME RESPONSIVE START */
@media (max-width: 70.6rem) {
  .navbar,
  .header__btn {
    display: none;
  }
  .burger {
    display: block;
  }
} /* HOME RESPONSIVE END */
